.button {
  padding: 14px 60px;
  border-color: #00C6D4;
  outline: 0;
  border-radius: 11px;
  font-size: 15px;
  transition: 1s;
}

.button:hover {
  cursor: pointer;
  background-color: #00C6D4;
}
